# MOOC Data Processing

| Date | User | Change Type | Remarks |  
| ---- | ---- | ----------- | ------- |
| 05/19/2025   | Martin | Create  | Notebook created for MOOC data processing. Loaded in data | 
| 05/22/2025   | Martin | Update  | Started processing EdX, Coursera, Udemy dataset | 
| 05/23/2025   | Martin | Update  | Completed Dataset 1 preprocessing. Started preprocessing 15,000 Coursera courses dataset | 
| 05/27/2025   | Martin | Update  | Processed alison, futurelearn and harvard datasets. Left coursera and pluralsight datasets from Dataset 2 |

# Content

* [Load Data](#load-data)
* [Preprocessing Dataset 1](#preprocessing-dataset-1)
* [Preprocessing Dataset 2](#preprocessing-dataset-2)

# Load Data

Loading various selected datasets from our collection of MOOC datasets. Here we outline the preprocessing steps applied to each dataset such that they can be combined to one large dataset.

1. __EdX, Coursera, and Udemy Course Data__ - Serves as the base dataset that all other datasets will combine to. Select relevant columns
2. __Dataset of 15,00 Courses__ - Datasets are separated into individual sheets that each have their own preprocessing steps which is explained in detail below

In [35]:
import pandas as pd
import numpy as np
import re

from langdetect import detect

In [87]:
# Dataset 1 - Edx, Coursera, Udemy
df1 = pd.read_json("data/mooc/EdX, Coursera, and Udemy Course Data/combined_dataset.json")

# Preprocessing Dataset 1

Dataset 1: EdX, Coursera, and Udemy Courses

The following preprocessing steps were undertaken:

1. Select relevant columns
2. Select first organisation in list 
3. Set "No rating" to None
4. Process description column
5. Process reviews column
6. Replace empty lists with nan in skills column
7. Process level column
8. Replace negative enrollment values with positive ones
9. Add premium column

__1. Select relevant columns__

This dataset serves as the base for other datasets, so we select only columns that are relevant for our analysis

In [3]:
# Preprocessing Dataset 1
# 1. Select only the relevant columns
df1_cols = [
  'type',
  'course_name',
  'organization',
  'rating',
  'description',
  'skills',
  'level',
  'Duration',
  'reviews',
  'enrollments',
  'subject',
  'provider'
]
df1 = df1[df1_cols]

__2. Select first organisation in list__

The `organization` column is a list of organisations that created the course. Only a small number of courses have multiple organisations that participated in curating the course (2.1%). Therefore, we assume that the first organisation in the list is the main provider and use that as the primary organisation

In [4]:
# 2. Take only the first organization
df1['organization'] = df1['organization'].str[0]

__3. Set No rating to None__

`rating` column contains both "No rating" and `NoneType`. Make it consistent as `NoneType`

In [5]:
# 3. Change "No rating" to None
df1.loc[df1['rating'] == 'No rating', 'rating'] = None

__4. Process description column__

First we remove the leading "Description: " and trailing newlines on some columns. Then apply language detection to see if the course was conducted in english. We use the description language here to determine this because it seems like a reasonable proxy.

In [6]:
# Remove Description: and \n
df1['description'] = df1['description'].str.removeprefix('Description: ').str.rstrip('\n')

# Create an is_english column that indicates if course is conducted in english
# (1 = english, 0 = not english)
df1['language'] = df1['description'].apply(lambda x: detect(x))

__5. Process reviews column__

We replace empty lists with `np.nan`. Then split the populated reviews into the 2 separate columns, `reviews_comments` and `reviews_stars` representing the comments and stars portion of each review. 

We also create 2 new columns that represent the mean star ratings and the number of reviews left on each course. This new count column replaces the original `nu_reviews` column which was suppose to represent the same metric, because it was inconsistent with the `reviews` column.

In [7]:
def process_reviews(val: list) -> (list, float):
  reviews = []
  stars = []
  for rev in val:
    reviews.append(rev['comment'])
    stars.append(rev['stars'])
  return reviews, stars

# Replace empty lists with nan
df1.loc[df1['reviews'].str.len() == 0, 'reviews'] = np.nan

# Create 2 empty columns to separate reviews and the average star rating
df1[['reviews_comment', 'reviews_stars']] = np.nan, np.nan

# Fill values if they contain comments
expanded = df1.loc[~df1['reviews'].isna(), 'reviews'].apply(lambda x: pd.Series(process_reviews(x)))
expanded.columns = ['reviews_comment', 'reviews_stars']
# reset the index for proper assignment by position
df1.loc[~df1['reviews'].isna(), ['reviews_comment', 'reviews_stars']] = expanded.reset_index(drop=True)

# Create column for average review score
df1['reviews_avg_stars'] = df1['reviews_stars'].apply(np.mean)

# Create column for number of reviews
df1['num_reviews'] = df1['reviews_stars'].str.len()

C:\Users\User\AppData\Local\Temp\ipykernel_20820\466081124.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[list(['wonderful']) list(['Very good way of teaching.', 'Good', 'Good'])
 list(['Estaría bien que se pudiera obtener certificación de la universidad', 'me parecio un excelente curso, pero sobre todas las cosas me dio una seguridad inmensa  la hora de desarrollarme en el area de emergencias que tan frecuente se hace esta tematica', 'Curso practico para conocer sobre la patología del ICTUS y el método RACE para la evaluación y conocer si estamos ante una posible lesion de vasos cerebrales afectados', 'Excelente curso, es dinámico, fácilmente entendible y aún más con los casos clínicos mostrados, me voy con una idea bastante buena de que es y como evaluar un ictus agudo sobretodo en emergencias', 'Excelente aproximación al ACV de manera prehospitalaria, la escala RACE una excelente herramienta y el curso es muy práctico. Recomendado para el área de la salud!', 'Un curso bastante completo sobre las enfermedades cerebrovasculares. Completamente recomendado para quienes quieren saber más sobre el tema.', 'Es muy bueno el contenido y la organización de este curso, totalmente recomendable para quien pueda hacerlo', 'Curso muy bien organizado, que aporta los conocimientos necesarios para actuar en codigo Ictus', 'Felicitaciones muy buen curso gracias', 'EXCELENTE FELICITACIONES  GRACIAS', 'excelente curso muy didáctico', 'Un curso fantástico', 'EXCELENTE CURSO', 'Muy excelente', 'Muy interesante, aunque en Navarra no se utilizan los mismos recursos, es interesante', 'Genial, duración perfecta, información interesante y concisa. En las quizz se pregunta lo que se aprende en el temario y ayuda a reforzar conceptos. Me parece un curso muy bien hecho para reforzar los conceptos claves del ictus y actuar de manera adecuada en caso de que se presente un caso.', 'realmente me encuento satisfecho porque es una oportunidad mas para aprender sobre emergencias detallada por la medicina..cada docente de la salud en este curso se a explicado detalladamente que es lo mas lindo ...aprender en casa es posible si uno pone de parte', 'MUY BUEN ABORDAJE TANTO TEORICO COMO PRACTICO RESPECTO A ESTA PATOLOGIA . PERMITE AFIANZAR  Y ACTUALIZARSE EN EL MANEJO DEL ICTUS AGUDO, PARA HACER UN DIAGNOSTICO Y MANEJO OPORTUNO MINIMIZANDO DE ESTA MANERA LAS SECUELAS AL PACIENTE.   GRACIAS', 'me pareció obtener un conocimiento nuevo y a tener y observar nuevas técnicas de valoración para la atención a pacientes pre hospitalarios y la importancia e identificación  de cada ictus hemorragico como isquémico', 'Un curso muy bien estructurado, y fácil de seguir. Lleno de información útil y fácil de aplicar, los videos de aplicación son una herramienta invaluable al momento de  trasladar la información a la práctica.', 'Excelente, un curso dinámico, con adecuados ejercicios que te ayudaran a mejorar tus capacidades para detectar pacientes con ictus y por consiguiente su arribo a un hospital correcto.', 'Un curso bastante practico y con  información precisa para conocer la atención prehospitalaria en pacientes con ictus, saber reconocerlo y actuar de forma temprana.', 'Es un excelente curso lleno de muchos aprendizaje, para mi fue una experiencia muy bonita que  en algún momento de mi carrera profesional, lo pondré en practica.', 'Información útil para todo profesional que se desempeña en el área prehospitalaria y hospitalaria para la agilización de la detección y tratamiento del ictus.', 'Excelente, a todos los que se encuentran en el área de la medicina inclusive civiles, este curso es excelente. Muy bueno, me encanto!!!!! Aprovechenlo.'])
 ... nan nan nan]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.loc[~df1['reviews'].isna(), ['reviews_comment', 'reviews_stars']] = expanded.reset_index(drop=True)
C:\Users\User\AppData\Local\Temp\ipykernel_20820\466081124.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[list([5]) list([5, 5, 5])
 list([3, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5])
 ... nan nan nan]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.loc[~df1['reviews'].isna(), ['reviews_comment', 'reviews_stars']] = expanded.reset_index(drop=True)

__6. Replace empty lists with nan in skills column__

Some lists only contain NaN values in them, we replace these with actual `np.nan` values

In [8]:
mask = ["NaN" in l for l in df1['skills']]
df1.loc[mask, 'skills'] = np.nan

__7. Process level column__

`level` column contains a mixture of string and list type variables. To unify the data types, lists that contain multiple items are replaced by the string "Mixed". All "mixed" values are also converted to "Mixed" for consistency.

The new `level` column contains only "Beginner", "Intermediate", "Advanced" and "Mixed" values.

In [9]:
# Replace "mixed" with "Mixed" values in column
df1.loc[df1['level'] == 'mixed', 'level'] = 'Mixed'

# Replace list type with string type, those with multiple levels are replaced as "Mixed"
levels_list = df1[df1['level'].apply(lambda x: isinstance(x, list))]['level']
levels_list = levels_list.apply(lambda x: x[0] if len(x) == 1 else "Mixed")
df1.loc[levels_list.index, 'level'] = levels_list

__8. Replace negative enrollment values with positive ones__

We make the assumption that the negative values in the `enrollment` column might have been a data entry error, so we replace negative values with positive values.

In [10]:
df1['enrollments'] = np.where(df1['enrollments'] < 0, -df1['enrollments'], df1['enrollments'])

__9. Add premium column__

Add a column to indicate if the course is premium or free

In [ ]:
df1['premium'] = np.nan

In [11]:
# Housekeeping
df1 = df1.fillna(np.nan)
df1.columns = [x.lower() for x in df1.columns]

In [12]:
df1.head()

,type,course_name,organization,rating,description,skills,level,duration,reviews,enrollments,subject,provider,language,reviews_comment,reviews_stars,reviews_avg_stars,num_reviews
0,course,AWS Lambda إنشاء صورة مصغرة بإستخدام السيرفرل...,Coursera Project Network,NaN,هذا المشروع التفاعلي -إنشاء صورة مصغرة بإستخدا...,"[AWS Identity And Access Management (IAM), Clo...",Intermediate,2.0,NaN,NaN,NaN,coursera,ar,NaN,NaN,NaN,NaN
1,course,Assisting Public Sector Decision Makers With ...,University of Michigan,4.8,Develop data analysis skills that support publ...,"[Simulations, Statistical Analysis, Predictive...",Intermediate,16.0,[{'comment': 'This course was very good at get...,NaN,NaN,coursera,en,[wonderful],[5],5.0,1.0
2,course,Advanced Strategies for Sustainable Business,University of Colorado Boulder,NaN,This course focuses on integrating sustainabil...,"[Circular Economy, Sustainable Business, Stake...",Beginner,6.0,NaN,NaN,NaN,coursera,en,NaN,NaN,NaN,NaN
3,course,Applying Machine Learning to Your Data with G...,Google Cloud,NaN,"Dans ce cours, nous définirons ce qu'est le ma...",NaN,Beginner,10.0,NaN,NaN,NaN,coursera,fr,NaN,NaN,NaN,NaN
4,project,Automate Blog Advertisements with Zapier,Coursera Project Network,NaN,Zapier is the industry leader in task automati...,"[Advertising, Social Media, Blogging, Marketing]",Intermediate,2.0,"[{'comment': 'wonderful', 'stars': 5}]",NaN,NaN,coursera,en,"[Very good way of teaching., Good, Good]","[5, 5, 5]",5.0,3.0

---

# Preprocessing Dataset 2

Dataset 2: 15,000 Coursera Courses

Because this dataset contains a wide variety of individual CSV files, each one will have slightly different preprocessing steps

In [ ]:
base = "data/mooc/dataset-of-15000-coursera-courses"

__Alison dataset__

1. Take the average for duration
2. Change all values in `type` column to "course" to match base dataframe
3. Convert vales in `category` column to list and clean strings
4. Create additional columns to match base dataframe

In [99]:
# Load alison dataset
alison = pd.read_csv(f"{base}/alison.csv")

# Select and remap columns
alison = alison[['Name Of The Course ', 'Institute', 'Duration', 'Number of learners', 'Skills', 'Type', 'Category']]
col_map = {
  'Name Of The Course ': 'course_name',
  'Institute': 'organization',
  'Duration': 'duration',
  'Number of learners': 'enrollments',
  'Skills': 'description',
  'Type': 'type',
  'Category': 'subject'
}
alison = alison.rename(col_map, axis=1)

# Set duration to the the average value
durations = alison['duration'].str.extractall(r'(\d+)\s*-\s*(\d+)')
durations = durations.astype(int)
alison['duration'] = durations.mean(axis=1).reset_index(drop=True)

# Set all type values to "course"
alison['type'] = "course"

# Format Category column 
def format_subject(val: str) -> list:
  # Replace special character with space
  val = val.replace("-", " ")

  # Make capitalise the first letter of each word
  val = val.title()

  # Replace business and management with combined categorjoy
  if val == 'Business' or val == 'management':
    val = 'Business & Management'
  return [val]

alison['subject'] = alison['subject'].apply(lambda x: format_subject(x))

# Add additional columns
alison['provider'] = "alison"
alison['language'] = alison['description'].apply(lambda x: detect(x))

In [100]:
alison.head()

,course_name,organization,duration,enrollments,description,type,subject,provider,language
0,bendrasis duomenu apsaugos reglamentas bdar,Advance Learning - Human Resources (HR),2.5,815,Paaiškinkite Bendrojo duomenų apsaugos reglame...,course,[Business & Management],alison,lt
1,internal auditing information security managem...,Exoexcellence Consultants,2.5,581,Recognize the significant considerations regar...,course,[Information Technology],alison,en
2,anti money laundering and customer verificatio...,Training Facility UK,3.5,"7,710",Define money laundering and give a brief overv...,course,[Business & Management],alison,en
3,comptia cloud advanced,Workforce Academy Partnership,3.5,"23,385","Define testing and tools, Describe security m...",course,[Information Technology],alison,en
4,itil 4 fundamentals essentials of it service m...,Exoexcellence Consultants,2.5,"83,244",Define the term ‘ITIL framework’ and describe ...,course,[Information Technology],alison,en

__FutureLearn dataset__

1. Extract the numeric value from `Review` column for number of reviews
2. Multiply `Duration` with `Spend time per week` to get the full course duration
3. Remap `Category` based on which courses are premium

In [115]:
# Load futurelearn dataset
fl = pd.read_csv(f"{base}/futurelearn.csv")

# Select columns and rename
fl = fl.drop('Link', axis=1)
fl = fl.rename({
  'Institution': 'organization',
  'Name': 'course_name',
  'Rating': 'rating',
  'Review': 'num_reviews',
  'Duration': 'duration',
  'Category': 'premium',
  'Type': 'type'
}, axis=1)

# Extract numeric value from review
fl['num_reviews'] = fl['num_reviews'].str.extract(r"(\d+)").astype(float)

# Get course full runtime
fl['duration'] = fl['duration'].str.extract(r"(\d+)").astype(float)
fl['Spend time per week'] = fl['Spend time per week'].str.extract(r"(\d+)").astype(float)
fl['duration'] = fl['duration'] * fl['Spend time per week']
fl = fl.drop('Spend time per week', axis=1)

# Remap premium column to indicate which courses must be paid
fl['premium'] = fl['premium'].map({
  'Included in Unlimited': 1,
  'Premium Course': 1,
  'Free digital upgrade': 0
})
fl['premium'] = fl['premium'].fillna(0)

# Add additional columns
fl['provider'] = "futurelearn"
fl['language'] = fl['course_name'].apply(lambda x: detect(x))

In [116]:
fl.head()

,organization,course_name,rating,num_reviews,duration,premium,type,provider,language
0,University of Padova,4 0 shades of digitalisation for the chemical ...,NaN,NaN,20.0,1.0,courses,futurelearn,en
1,International Culinary Studio,a beginners guide to basic cooking skills,NaN,NaN,25.0,0.0,courses,futurelearn,en
2,BoxPlay & FutureLearn,a beginners guide to data analytics,NaN,NaN,9.0,0.0,courses,futurelearn,en
3,Packt & FutureLearn,a beginners guide to data handling and managem...,NaN,NaN,9.0,0.0,courses,futurelearn,en
4,Packt & FutureLearn,a beginners guide to docker,NaN,NaN,6.0,0.0,courses,futurelearn,nl

__harvard dataset__

1. Convert values in `subject` to list type
2. Convert values in `Price` to indicator if they are premium or not
3. Convert values in `Duration` to hours

In [183]:
# Load futurelearn dataset
hv = pd.read_csv(f"{base}/Harvard_university.csv")

# Select columns and rename
hv = hv.drop(['Link to course', 'Category link', 'Mode', 'Availability', 'Offered By'], axis=1)
hv = hv.rename({
  'subject ': 'subject',
  'Name': 'course_name',
  'About': 'description',
  'Price': 'premium',
  'Duration': 'duration'
}, axis=1)

# Convert subject values to list type
hv['subject'] = hv['subject'].apply(lambda x: [x])

# Convert values in Price to indicate if it's a premium course
hv['premium'] = np.select([ hv['premium'] == 'Free' ], [0], default=1)

# Convert duration to hours
def convert_str_hours(val: str) -> float:
  if 'week' in val or 'weeks' in val:
    digit = float(re.search(r'(\d+)', val).group(1))
    return 168 * digit
  elif 'day' in val or 'days' in val:
    digit = float(re.search(r'(\d+)', val).group(1))
    return 24 * digit
  else:
    return np.nan

hv['duration'] = hv['duration'].apply(lambda x: convert_str_hours(x))

In [184]:
hv.head()

,subject,course_name,description,premium,duration
0,[Humanities],PredictionX: Lost Without Longitude,"Explore the history of navigation, from stars ...",0,168.0
1,[Social Sciences],Nonprofit Financial Stewardship Webinar: Intro...,The Introduction to Nonprofit Accounting and F...,0,NaN
2,[Programming],CS50: Introduction to Computer Science,An introduction to the intellectual enterprise...,0,1848.0
3,[Social Sciences],Public Leadership Credential,"Developed by Harvard Kennedy School faculty, t...",1,NaN
4,[Health & Medicine],Cognitive Fitness,This online course from Harvard Health Publish...,1,336.0

In [16]:
df1.head()

,type,course_name,organization,rating,description,skills,level,duration,reviews,enrollments,subject,provider,language,reviews_comment,reviews_stars,reviews_avg_stars,num_reviews
0,course,AWS Lambda إنشاء صورة مصغرة بإستخدام السيرفرل...,Coursera Project Network,NaN,هذا المشروع التفاعلي -إنشاء صورة مصغرة بإستخدا...,"[AWS Identity And Access Management (IAM), Clo...",Intermediate,2.0,NaN,NaN,NaN,coursera,ar,NaN,NaN,NaN,NaN
1,course,Assisting Public Sector Decision Makers With ...,University of Michigan,4.8,Develop data analysis skills that support publ...,"[Simulations, Statistical Analysis, Predictive...",Intermediate,16.0,[{'comment': 'This course was very good at get...,NaN,NaN,coursera,en,[wonderful],[5],5.0,1.0
2,course,Advanced Strategies for Sustainable Business,University of Colorado Boulder,NaN,This course focuses on integrating sustainabil...,"[Circular Economy, Sustainable Business, Stake...",Beginner,6.0,NaN,NaN,NaN,coursera,en,NaN,NaN,NaN,NaN
3,course,Applying Machine Learning to Your Data with G...,Google Cloud,NaN,"Dans ce cours, nous définirons ce qu'est le ma...",NaN,Beginner,10.0,NaN,NaN,NaN,coursera,fr,NaN,NaN,NaN,NaN
4,project,Automate Blog Advertisements with Zapier,Coursera Project Network,NaN,Zapier is the industry leader in task automati...,"[Advertising, Social Media, Blogging, Marketing]",Intermediate,2.0,"[{'comment': 'wonderful', 'stars': 5}]",NaN,NaN,coursera,en,"[Very good way of teaching., Good, Good]","[5, 5, 5]",5.0,3.0

In [ ]:
df1['subject']

0                                                     None
1                                                     None
2                                                     None
3                                                     None
4                                                     None
                               ...
13788    [Communication, Business & Management, Social ...
13789    [Humanities, Biology & Life Sciences, Social S...
13790               [Communication, Business & Management]
13791                                   [Computer Science]
13792                                   [Computer Science]
Name: subject, Length: 13793, dtype: object