In [33]:
import pandas as pd
import numpy as np

from ast import literal_eval

In [2]:
# Read in survey data
survey_results_in = pd.read_csv('data/clean/survey_results.csv')
survey_results_in.head()

,ResponseId,CodingStatus,AgeRange,EducationLevel,Country,DevType,Employment,Industry,CodingActivities,YearsCoding,...,YearsWorkExperience,HowLearnCode,HowLearnCodeOnline,LanguagesUsedPastYear,DatabasesUsedPastYear,PlatformsUsedPastYear,WebFramworksUsedPastYear,Currency,CompTotal,ConvertedCompYearly
0,1,I am a developer by profession,Under 18 years old,Primary/elementary school,United States of America,NaN,"['Employed, full-time']",NaN,['Hobby'],NaN,...,NaN,['Books / Physical media'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",United Kingdom of Great Britain and Northern I...,"Developer, full-stack","['Employed, full-time']",NaN,"['Hobby', 'Contribute to open-source projects'...",20,...,17.0,"['Books / Physical media', 'Colleague', 'On th...","['Technical documentation', 'Blogs', 'Books', ...","['Bash/Shell (all shells)', 'Go', 'HTML/CSS', ...","['Dynamodb', 'MongoDB', 'PostgreSQL']","['Amazon Web Services (AWS)', 'Heroku', 'Netli...","['Express', 'Next.js', 'Node.js', 'React']",NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",United Kingdom of Great Britain and Northern I...,Developer Experience,"['Employed, full-time']",NaN,"['Hobby', 'Contribute to open-source projects'...",37,...,NaN,"['Books / Physical media', 'Colleague', 'On th...","['Technical documentation', 'Blogs', 'Books', ...",['C#'],['Firebase Realtime Database'],['Google Cloud'],['ASP.NET CORE'],NaN,NaN,NaN
3,4,I am learning to code,18-24 years old,Some college/university study without earning ...,Canada,"Developer, full-stack","['Student, full-time']",NaN,NaN,4,...,NaN,"['Other online resources (e.g., videos, blogs,...","['Stack Overflow', 'How-to videos', 'Interacti...","['C', 'C++', 'HTML/CSS', 'Java', 'JavaScript',...","['MongoDB', 'MySQL', 'PostgreSQL', 'SQLite']","['Amazon Web Services (AWS)', 'Fly.io', 'Heroku']","['jQuery', 'Next.js', 'Node.js', 'React', 'Wor...",NaN,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Secondary school (e.g. American high school, G...",Norway,"Developer, full-stack","['Student, full-time']",NaN,NaN,9,...,NaN,"['Other online resources (e.g., videos, blogs,...","['Technical documentation', 'Blogs', 'Written ...","['C++', 'HTML/CSS', 'JavaScript', 'Lua', 'Pyth...","['PostgreSQL', 'SQLite']",NaN,NaN,NaN,NaN,NaN

In [3]:
# Read in MOOC data
moocs_in = pd.read_csv('combined_mooc.csv')
moocs_in.head()

/var/folders/d6/xngd9nwj03vbrfb4k4smncth0000gn/T/ipykernel_32132/1435215442.py:2: DtypeWarning: Columns (2,6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  moocs_in = pd.read_csv('combined_mooc.csv')

,type,course_name,organization,rating,description,skills,level,duration,reviews,enrollments,subject,provider,language,reviews_comments,reviews_stars,reviews_avg_stars,num_reviews,premium
0,course,AWS Lambda إنشاء صورة مصغرة بإستخدام السيرفرل...,Coursera Project Network,NaN,هذا المشروع التفاعلي -إنشاء صورة مصغرة بإستخدا...,"['AWS Identity And Access Management (IAM)', '...",Intermediate,2.0,NaN,NaN,NaN,coursera,ar,NaN,NaN,NaN,NaN,NaN
1,course,Assisting Public Sector Decision Makers With ...,University of Michigan,4.8,Develop data analysis skills that support publ...,"['Simulations', 'Statistical Analysis', 'Predi...",Intermediate,16.0,[{'comment': 'This course was very good at get...,NaN,NaN,coursera,en,['wonderful'],[5],5.0,1.0,NaN
2,course,Advanced Strategies for Sustainable Business,University of Colorado Boulder,NaN,This course focuses on integrating sustainabil...,"['Circular Economy', 'Sustainable Business', '...",Beginner,6.0,NaN,NaN,NaN,coursera,en,NaN,NaN,NaN,NaN,NaN
3,course,Applying Machine Learning to Your Data with G...,Google Cloud,NaN,"Dans ce cours, nous définirons ce qu'est le ma...",NaN,Beginner,10.0,NaN,NaN,NaN,coursera,fr,NaN,NaN,NaN,NaN,NaN
4,project,Automate Blog Advertisements with Zapier,Coursera Project Network,NaN,Zapier is the industry leader in task automati...,"['Advertising', 'Social Media', 'Blogging', 'M...",Intermediate,2.0,"[{'comment': 'wonderful', 'stars': 5}]",NaN,NaN,coursera,en,"['Very good way of teaching.', 'Good', 'Good']","[5, 5, 5]",5.0,3.0,NaN

# Question 1: Are the most popular skills in MOOC educational content the same skills that are most widely used according to the survey?

For each skill in the survey, calculate a “popularity score” as the percentage of survey respondents who are proficient in that skill out of the total number of respondents. The same can be applied to MOOC content, where each skill is assigned the percentage of courses that teach that skill out of the total number of technical courses. We can then compare these with a scatter plot where each axis represents the relative popularity of the topic in the developer survey or the MOOC content.

1. Perform EDA on MOOC data
2. Perform EDA on survey data
3. Generate a list of skills for the MOOC dataset
4. Select relevant columns and drop NaN's

__Step 1: Perform EDA on MOOC data__

Our goal in this step is to get a sense of the MOOC data as it relates to the question we are investigating.

In [4]:
# Start by looking at the columns and the data in those columns
moocs_in.head()

,type,course_name,organization,rating,description,skills,level,duration,reviews,enrollments,subject,provider,language,reviews_comments,reviews_stars,reviews_avg_stars,num_reviews,premium
0,course,AWS Lambda إنشاء صورة مصغرة بإستخدام السيرفرل...,Coursera Project Network,NaN,هذا المشروع التفاعلي -إنشاء صورة مصغرة بإستخدا...,"['AWS Identity And Access Management (IAM)', '...",Intermediate,2.0,NaN,NaN,NaN,coursera,ar,NaN,NaN,NaN,NaN,NaN
1,course,Assisting Public Sector Decision Makers With ...,University of Michigan,4.8,Develop data analysis skills that support publ...,"['Simulations', 'Statistical Analysis', 'Predi...",Intermediate,16.0,[{'comment': 'This course was very good at get...,NaN,NaN,coursera,en,['wonderful'],[5],5.0,1.0,NaN
2,course,Advanced Strategies for Sustainable Business,University of Colorado Boulder,NaN,This course focuses on integrating sustainabil...,"['Circular Economy', 'Sustainable Business', '...",Beginner,6.0,NaN,NaN,NaN,coursera,en,NaN,NaN,NaN,NaN,NaN
3,course,Applying Machine Learning to Your Data with G...,Google Cloud,NaN,"Dans ce cours, nous définirons ce qu'est le ma...",NaN,Beginner,10.0,NaN,NaN,NaN,coursera,fr,NaN,NaN,NaN,NaN,NaN
4,project,Automate Blog Advertisements with Zapier,Coursera Project Network,NaN,Zapier is the industry leader in task automati...,"['Advertising', 'Social Media', 'Blogging', 'M...",Intermediate,2.0,"[{'comment': 'wonderful', 'stars': 5}]",NaN,NaN,coursera,en,"['Very good way of teaching.', 'Good', 'Good']","[5, 5, 5]",5.0,3.0,NaN

In [42]:
# We know we will want to keep course_name, skills, and enrollments.
# We know we can drop organization, rating, description, level, duration, reviews, provider, 
#   reviews_comments, reviews_stars, reviews_avg_stars, num_reviews, and premium.
# We should explore type, subject, and language to see if they are relevant for our analysis.

moocs = moocs_in[['course_name', 'skills', 'enrollments', 'type', 'subject', 'language']]

print(f'Dropping {sum(moocs.duplicated())} duplicates.')
moocs = moocs.drop_duplicates()

moocs.head()

Dropping 956 duplicates.

,course_name,skills,enrollments,type,subject,language
0,AWS Lambda إنشاء صورة مصغرة بإستخدام السيرفرل...,"['AWS Identity And Access Management (IAM)', '...",NaN,course,NaN,ar
1,Assisting Public Sector Decision Makers With ...,"['Simulations', 'Statistical Analysis', 'Predi...",NaN,course,NaN,en
2,Advanced Strategies for Sustainable Business,"['Circular Economy', 'Sustainable Business', '...",NaN,course,NaN,en
3,Applying Machine Learning to Your Data with G...,NaN,NaN,course,NaN,fr
4,Automate Blog Advertisements with Zapier,"['Advertising', 'Social Media', 'Blogging', 'M...",NaN,project,NaN,en

In [43]:
# Let's check what's in the type column
moocs['type'].value_counts()

type
course     34760
project     2337
Name: count, dtype: int64

In [44]:
# Projects are mini-courses aimed at guiding a student to build a specific project. We will analyze the skills of both together, so we can drop this column.
moocs = moocs.drop('type', axis=1)
moocs.head()

,course_name,skills,enrollments,subject,language
0,AWS Lambda إنشاء صورة مصغرة بإستخدام السيرفرل...,"['AWS Identity And Access Management (IAM)', '...",NaN,NaN,ar
1,Assisting Public Sector Decision Makers With ...,"['Simulations', 'Statistical Analysis', 'Predi...",NaN,NaN,en
2,Advanced Strategies for Sustainable Business,"['Circular Economy', 'Sustainable Business', '...",NaN,NaN,en
3,Applying Machine Learning to Your Data with G...,NaN,NaN,NaN,fr
4,Automate Blog Advertisements with Zapier,"['Advertising', 'Social Media', 'Blogging', 'M...",NaN,NaN,en

In [45]:
# Let's check the enrollments columns
enrollments = moocs['enrollments']
print(f'There are {sum(enrollments.isna())} NaNs in the enrollments column.')
enrollments.describe()

There are 16618 NaNs in the enrollments column.

count    2.047900e+04
mean     5.067349e+03
std      2.175717e+04
min      0.000000e+00
25%      6.300000e+01
50%      5.920000e+02
75%      3.063500e+03
max      1.108811e+06
Name: enrollments, dtype: float64

In [46]:
# We will leave the enrollments column as-is. There are two ways we can calculate popularity:
#   1. Sum the total number of enrollments in courses covering the skill.
#   2. Count how many courses cover the skill.
#
# Since #2 would benefit from the courses with missing enrollments, we will not drop the rows with missing enrollment numbers.

In [47]:
# Now let's check the subject.
print(f'There are {sum(moocs['subject'].isna())} NaNs in the subjects column.')

first_subject = moocs['subject'][moocs['subject'].notna()].iloc[0]
print(f'The type of {first_subject} is {type(first_subject)}.')

There are 16200 NaNs in the subjects column.
The type of ['Business & Management', 'Economics & Finance'] is <class 'str'>.

In [48]:
# Even though the subject column looks like a list, it's actually stored in memory as a list. 

# Let's convert it to a string
moocs['subject'] = moocs['subject'].apply(lambda s: literal_eval(s) if s is not np.nan else np.nan)

# Now let's take a look again
first_subject = moocs['subject'][moocs['subject'].notna()].iloc[0]
print(f'The type of {first_subject} is {type(first_subject)}.')

The type of ['Business & Management', 'Economics & Finance'] is <class 'list'>.

In [49]:
# And now let's see what the column actually contains.
moocs['subject'].explode().value_counts()[:10]

subject
Personal Development      2302
Development               2154
IT & Software             2105
Teaching & Academics      1832
Business                  1803
Business & Management     1696
Education                 1157
Design                    1096
Information Technology     932
Marketing                  879
Name: count, dtype: int64

In [50]:
# There are lots of subjects that are relevant to our analysis, and lots of subjects that are not.
# Instead of combing through each subject to hand-pick the ones that are relevant, we will stick to 
# our strategy of looking for skills in the title of the course. We can drop the subject.

moocs = moocs.drop('subject', axis=1)
moocs.head()

,course_name,skills,enrollments,language
0,AWS Lambda إنشاء صورة مصغرة بإستخدام السيرفرل...,"['AWS Identity And Access Management (IAM)', '...",NaN,ar
1,Assisting Public Sector Decision Makers With ...,"['Simulations', 'Statistical Analysis', 'Predi...",NaN,en
2,Advanced Strategies for Sustainable Business,"['Circular Economy', 'Sustainable Business', '...",NaN,en
3,Applying Machine Learning to Your Data with G...,NaN,NaN,fr
4,Automate Blog Advertisements with Zapier,"['Advertising', 'Social Media', 'Blogging', 'M...",NaN,en

In [53]:
# Lastly, let's take a look at language.
moocs['language'].value_counts()[:10]

language
en    26996
es     2727
pt     1637
fr      973
ar      752
ja      612
de      568
tr      544
it      388
ko      316
Name: count, dtype: int64

In [54]:
# Since there are enough courses in English and the survey is English, let's use only the courses in English.
# That will prevent any potential issues of not translating a skill to a different language.
moocs = moocs[moocs['language'].eq('en')]

# Now we can drop the language column
moocs = moocs.drop('language', axis=1)

moocs.head()

,course_name,skills,enrollments
1,Assisting Public Sector Decision Makers With ...,"['Simulations', 'Statistical Analysis', 'Predi...",NaN
2,Advanced Strategies for Sustainable Business,"['Circular Economy', 'Sustainable Business', '...",NaN
4,Automate Blog Advertisements with Zapier,"['Advertising', 'Social Media', 'Blogging', 'M...",NaN
5,Applied Sustainability Engineering,"['Product Engineering', 'Sustainable design', ...",NaN
7,Advanced Topics in Derivative Pricing,"['Volatility Smile', 'Computer Programming', '...",NaN

__Step 2: Perform EDA on Stack Overflow Developer Survey data__

Our goal in this step is to get a sense of the survey data as it relates to the question we are investigating.

__Step 1: Generate a list of skills for the MOOC dataset__

Some of the MOOC datasets provided a list of skills covered within the course. However, many of the courses are missing skill information. In order to compare the skills covered in the MOOC dataset against the skills used by survey respondents, we will need to populate the skills for as many MOOC courses as possible.

To do this, we will use the simple strategy of assuming the skill is covered in the course if the

__Step 2: Select relevant columns and drop NaN's__

Many of the columns in the MOOC and survey datasets are not relevant to analyzing the most common skills in each dataset. To make our datasets easier to work with, we will work with only the subset of columns that are relevant to our analysis. After selecting the relevant columns, we will drop NaN's

# Question 2: What MOOC content is considered “premium” and do those premium skills translate to higher salaries in the developer survey?

For each skill, identify the percentage of students who pay for courses in that topic out of the total number of students learning that topic. In the developer survey, calculate the average salary for each person who uses each skill. Use a horizontal bar chart to compare the most “premium” MOOC skills to their respective salaries from the developer survey.